<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projektmobileapplikationen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReiseListActivity"
            android:label="@string/title_reise_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ReiseDetailActivity"
            android:label="@string/title_reise_detail"
            android:parentActivityName=".ReiseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.projektmobileapplikationen.ReiseListActivity" />
        </activity>
        <activity android:name=".graphic" />
        <activity android:name=".Ergebnis" />
        <activity android:name=".Info" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>